* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    width: 100%;
    height: 100vh;
    background: url(123.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;

    line-height: 1;
    color: #fff;
}

.intro-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;


}

.intro-suptitle {
    font-size: 72px;
    font-weight: 500;
    font-family: "Dancing Script", cursive;
    color: #fff;
    font-style: italic;
    margin-bottom: 20px;
}

.intro-inner {
    width: 100%;
    max-width: 880px;
    margin: 180px auto 0;
    text-align: center;

}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}

.header-logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.nav {
    text-transform: uppercase;
    font-size: 14px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s linear;
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    position: relative;
}

.nav-link:hover {
    color: #fce38a;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: color 0.2s linear;
    margin-top: 8px;
}

.nav-link:hover::after {
    display: block;
    opacity: 1;

}


.btn {
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding: 8px 30px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    transition: color 0.2s linear;
    transition: background-color 0.2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;

}

.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.slider-item {
    width: 23%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 0px;
    border-top: 3px solid #fff;
    opacity: 0.7;
    position: relative;
}

.slider-item.active {
    opacity: 1;
}

.slider-item.active::before {
    content: "";
    display: block;
    width: 70px;
    background-color: #ffc800;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider-num {
    font-size: 24px;
    font-weight: 700;
}